.app {
  margin-top: 20px;

  display: flex;
  justify-content: space-around;

  .editorWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 700px;
    width: 600px;

    .editorCustomStyles {
      border-radius: 20px;
    }
  }

  .previewWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 700px;

    .preview {
      overflow: auto;

      border-radius: 20px;

      padding: 20px;
      width: 600px;
      height: 100%;

      color: black;
      background-color: white;
    }
  }
}